.message {
  display: none;
  width: 100%;
  height: auto;
  position: fixed;
  top: 10%;
  left: 0;
  text-align: center;
  margin: 0 auto;
  color: red;
  font-weight: bold;
  text-shadow: 0px 0px 3px black; }
  .message.fade {
    display: block;
    -webkit-animation: fadeInUp 0.5s linear forwards, fadeOut 0.5s linear forwards; }
  .message h3 {
    font-size: 400%; }
